@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content-search{
    width: 100%;
    height: 100px;
    display: flex;
   
}

.search .input_search{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search{   
  
    display: flex;
    align-items: center;
}

.search form{   
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.search input{
    width: 250px;
    height: 35px;  
    padding-left: 20px;
    border: 0px;
    box-shadow: 0px 1px 4px;
   
}

.search input:focus{
    outline: none;
    box-shadow: 0px 1px 6px;
}

.search .btn_search{
    border:0px;
    box-shadow: 0px 1px 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    width: 55px;
    padding:0 12px;
    background-color: #d34141;
    align-items: center;
    justify-content: center;
    background-image: url(./imagens/search.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}


.icon_search{
    width: 15px;
    height:15px;
}

.container{
    display: flex;
    flex-direction: column;
   
    margin: 0 auto;
    max-width: 1000px;
    outline: hiden;
}
.container .content-search{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container .card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 270px;
    
}
.container .card{
    display:flex;
    flex-direction: column;    
    width: 250px;
    height: 100%;
    box-shadow: 0 1px 5px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.container .card img{
    object-fit:fill;
    width: 250px;
    height: 170px;
}
.container .card .card-title{
   padding: 0 10px 0 10px; 
}
.container .card .card-body{
    padding:5px 10px 0 10px;
}